{% extends 'users/base.html' %}

{% block head %}
    <title>Enter your email address</title>
{% endblock head %}

{% block content %}
    <div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold is-size-4">Wang Zilong Blogsite
            <br><span class="tag is-size-6">Find back password</span>
        </h1>
        <hr class=" dropdown-divider">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.errors }}
            <input type="submit" style="width: 150px;
                height: 40px;
                margin: 10px;
                text-align: center;
                margin-left: 210px;"
            class="button is-link is-fullwidth" value="Submit">
        </form>
    </div>

{% endblock content %}