{#<!DOCTYPE html>#}
{#{% load static%}#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Registration Page</title>#}
{#    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">#}
{#    <style>#}
{#        .container {#}
{#            position: absolute;#}
{#            top: 50%;#}
{#            left: 50%;#}
{#            transform: translate(-50%, -50%);#}
{#            width: 600px;#}
{#            height: 300px;#}
{#        }#}
          {#background-color: pink;#}
{##}
{#        .button {#}
{#            width: 150px;#}
{#            height: 40px;#}
{#            margin: 10px;#}
{#            text-align: center;#}
{#            margin-left: 210px;#}
{#        }#}
{##}
{#    </style>#}
{#</head>#}
{##}
{#<body>#}
{#<div class = "container">#}
{#    <div class="box">#}
{#        <h1 class="is-uppercase has-text-centered has-text-weight-bold is-size-4">Wang Zilong's Blogsite#}
{#            <br><span class="tag is-size-6">Registration Page</span>#}
{#        </h1>#}
{#        <hr class="dropdown-divider">#}
{#    <form action="" method="post">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <span style="color: red">{{ form.errors }}</span>#}
{#        <input type="submit" class="button is-link" value="submit">#}
{#    </form>#}
{#</div>#}
{#</div>#}
{##}
{#</body>#}
{#</html>#}
{% extends 'users/base.html' %}

{% block head %}<title>Registration Page</title>{% endblock head %}

{% block content %}
<div class="box">
        <h1 class="is-uppercase has-text-centered has-text-weight-bold is-size-4">Wang Zilong's Blogsite
            <br><span class="tag is-size-6">Registration Page</span>
        </h1>
        <hr class="dropdown-divider">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button is-link" value="submit" style="width: 150px;
            height: 40px;
            margin: 10px;
            text-align: center;
            margin-left: 210px;">
    </form>
</div>
{% endblock content %}